*{
    margin: 0;
    box-sizing: border-box;
}
.menu-style{
    background-color: #F0A83E;
    color: white;
    padding-left: 46px;
    
}

.pata-doge{
    list-style-type: none;
    padding-left: 1px;
}

.cabezera-style{
    background-color: black;
    padding-left: 90px;
    color:white;
}

.banner{
    position: relative;
    margin-top: 50px;
    text-align: center;
    background-image: url("../img/bowl-and-pet-daities-on-green-background 1.png");
    background-repeat:no-repeat;
    background-size:cover;
    box-sizing: border-box;
    height: 409px;
}

.banner h3{
    color: #3C2313;
    font-size: 25px;
    box-sizing: border-box;
}

.caja-banner{
    position: absolute;
    top: -25px;
    left: calc(50% - 142px);
}
.style-comedero{
    margin-top: 10px;
    background-color: #F0A83E;
    color: white;
    box-sizing: border-box;
    display: inline-block;


}
.style-comedero-descuento{
    margin-top: 10px;
    box-sizing: border-box;
}

h1{
    color: #3C2313;
    font-size: 25px; 
    background-color: white;
}

.productos{
    background-color: #E5E5E5;
}

.precio{
    color: #F0A83E;
}

.style-antefooter{
    background-color:#3C2313 ;

    box-sizing: border-box;
}
.style-derechos{
    background-color: #F0A83E;
    color: white;
    padding: 4px;
    text-align: center;
    margin-top: 10px;

}

.texto1-antefooter{
    margin-top: 20px;
    font-size: 20px;
    color: white;
 
}

.texto2-antefooter{
    margin-top: 20px;
    font-size: 10px;
    color: #8A8787;
}